{% from 'form_helper.html' import displayField %}

{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>backdoor</title>
    <link rel="stylesheet" href="/static/css/backdoor.css">
</head>
<body>
    <h1>Accept Users Login</h1>
    <form action="/backdoor/home" method="POST" id="logform">
        {{displayField(form.password, 'Password', id='inpu')}}
        {{form.submit_button(id='inpu')}}
        {{ form.csrf_token }}
    </form>
</body>
</html>
{% endblock %}